.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 80px;
  color: white;
}
.todo-list {
  padding: 0;
}
.todo-item {
	cursor: pointer;
	list-style: none;
  font-size: 2rem;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}
.todo-item:hover {
	background-color: rgb(0, 188, 212);
  color: white;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
